html, body{
    font-family: sans-serif;
    overflow: scroll;
    background-color: #0C1417;
}
table, th, td {
    border: 1px solid #818181;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}

.courtContainer {
    flex-direction: column !important;
}

.courtCell {
    padding: 5px;
    background-color: #021B79 !important;
    color: white !important;
    margin: 2px;
}

.dateLabel {
    text-align: center;
}

.timeLabel {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.topBar {
    height: 5rem;
    background-color: #021B79;
}

.timetable {
    overflow: scroll
}

.gridContainer {
    padding: 0.5rem;
}

.todayButton {
    color: white !important;
}

.normalRow {
    min-height: 1rem;
    border-bottom: 1px solid rgba(207, 207, 207, 0.72);
}

.navigationBar {
    background-color: #021B79;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-content: center;
    color: white
}

.backgroundSheet {
    margin: 0.5rem !important;
    font-size: 0.7rem;
    background-color: white !important;
}

body {
    background-color: transparent !important;
}

.bottomBar {
    margin-left: 0;
}
